{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "./src",
        "rootPathPrefix": "~"
      }
    ],
    ["wildcard",
      { "noModifyCase": true }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-proposal-pipeline-operator",
      { "proposal": "minimal" }
    ]
  ]
}
